html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
background: #131516;
	color: #d8d4cf;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

button {
	background: #454a4d;
	padding: 8px;
}

.options-container {
	display: flex;
	justify-content: space-between;
	gap: 32px;
	text-align: center;
}

.options-container button {
	font-size: 52px;
}

#result {
	text-align: center;
}

.game-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.result-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 64px;
}

.result-container div {
	border: 4px #333 solid;
	border-radius: 8px;
	text-align: center;
	padding: 8px;
	font-size: 32px;
}

.result-container .win {
	border-color: greenyellow;
}

.result-container .lose {
	border-color: red;
}

#player-box,
#computer-box {
	font-size: 64px;
}